appdirs==1.4.3
attrs==19.1.0
beautifulsoup4==4.6.0
black==19.3b0
certifi==2018.4.16
chardet==3.0.4
Click==7.0
cx-Freeze==5.1.1
fake-useragent==0.1.10
idna==2.6
inflect==1.0.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy==1.14.3
pandas==0.24.2
pdfminer.six==20170720
pycryptodome==3.8.2
PyJWT==1.6.4
PySocks==1.6.8
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
selenium==3.12.0
six==1.11.0
tl.cli==0.2
tl.rename==0.1.2
toml==0.10.0
twilio==6.16.2
urllib3==1.22
